In [1]:
import numpy as np
import pandas as pd

In [2]:
%%writefile sample.csv
c1,c2,c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample.csv

* read_csv() : csv 파일 읽기

In [5]:
df = pd.read_csv('sample.csv')
df

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [6]:
df['c4'] = ['일','이','삼']
df

   c1    c2      c3 c4
0   1  1.11     one  일
1   2  2.22     two  이
2   3  3.33   three  삼

* 파일 쓰기 : to_csv()

In [7]:
df.to_csv('sample2.csv')

In [10]:
pd.read_csv('sample2.csv')

   Unnamed: 0  c1    c2      c3 c4
0           0   1  1.11     one  일
1           1   2  2.22     two  이
2           2   3  3.33   three  삼

In [11]:
#파일에 쓸때는 index옵션을 꺼줘야함 
df.to_csv('sample3.csv',index=False)
pd.read_csv('sample3.csv')

   c1    c2      c3 c4
0   1  1.11     one  일
1   2  2.22     two  이
2   3  3.33   three  삼

* sample4.tsv 
* encoding = EUC-KR
* Seperator = \t
* 쓸데 없는 줄이 한개 있습니다

In [14]:
pd.read_csv('sample4.tsv',sep='\t',encoding='EUC-KR',skiprows=1)

      강남구     서초구     송파구
0  60,000  80,000  70,000
1  90,000  85,000  70,000
2  70,000  68,000  88,000
3  89,000  76,000  92,000

In [42]:
price=['1,000','3,000','5,000']
price_str=str(price)
price_str.replace(',','')

"['1000' '3000' '5000']"

In [45]:
price=['1,000','3,000','5,000']
list(map(lambda x : int(x.replace(',','')),price))

[1000, 3000, 5000]

In [47]:
df=pd.read_csv('sample4.tsv',sep='\t',encoding='EUC-KR',skiprows=1,thousands=',')
df

     강남구    서초구    송파구
0  60000  80000  70000
1  90000  85000  70000
2  70000  68000  88000
3  89000  76000  92000

* 서울시 CCTV 설치 운영현황(자치구)_년도별_211231.csv

In [48]:
filename='/content/서울시CCTV설치운영현황(자치구)_년도별_211231기준.csv'

In [ ]:
cctv=pd.read_csv(filename,skiprows=1,encoding='EUC-KR',thousands=',')
cctv

In [51]:
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,4812,1851.0,3434.0,4295,6840,8708,11572,10627,12267,11247,7904
1,종로구,1715,815,NaN,NaN,195,150,0,261,85,9,200,0
2,중 구,2447,16,114.0,87.0,77,236,240,372,386,155,361,403
3,용산구,2611,34,71.0,234.0,125,221,298,351,125,307,617,228
4,성동구,3829,163,144.0,208.0,107,325,255,967,415,490,472,283

In [52]:
cctv.tail()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
21,관악구,5149,440,84.0,431.0,439,609,622,688,674,595,331,236
22,서초구,4082,8,73.0,79.0,70,562,504,1041,417,339,433,556
23,강남구,6871,69,67.0,66.0,580,830,1293,988,745,791,926,516
24,송파구,2897,40,59.0,90.0,85,214,176,241,541,1073,235,143
25,강동구,2809,268,27.0,227.0,49,154,202,273,377,356,614,262

* 인터넷 상의 csv파일도 입력가능

In [53]:
df=pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S