In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [3]:
df2 = pd.DataFrame({
    '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2

   고객번호      금액
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

* inner join

데이터가 있는 값만 들어간다

In [4]:
df3= pd.merge(df1,df2)
df3

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

+ outer join

In [7]:
#full outer join
df4=pd.merge(df1,df2,how='outer')
df4.head(8)

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0

In [8]:
pd.merge(df1,df2,how='left')  #df1을 기준으로 조인, right로 하면 df2를 기준으로 조인

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

* join method

In [9]:
#인덱스가 join하는 역할
df1.set_index('고객번호',inplace=True)
df2.set_index('고객번호',inplace=True)
df1

       이름
고객번호
1001   둘리
1002  도우너
1003   또치
1004   길동
1005   희동
1006  마이콜
1007   영희

In [10]:
df2

          금액
고객번호
1001   10000
1001   20000
1005   15000
1006    5000
1008  100000
1001   30000

In [11]:
df2.join(df1)

          금액   이름
고객번호
1001   10000   둘리
1001   20000   둘리
1001   30000   둘리
1005   15000   희동
1006    5000  마이콜
1008  100000  NaN