In [1]:
import numpy as np
import pandas as pd

In [ ]:
import seaborn as sns
titanic=sns.load_dataset('titanic')
titanic

In [4]:
titanic['age_grade']=pd.qcut(titanic['age'],3,labels=["청년","중년","장년"])

In [14]:
titanic.pivot_table( index = ['age_grade', 'sex'], columns = 'class', values = 'survived',aggfunc = lambda x : (sum(titanic['survived']) / sum(x)))

class                 First  Second       Third
age_grade sex
청년        female  16.285714    17.1   11.400000
          male    68.400000    34.2   20.117647
중년        female  19.000000    11.4   26.307692
          male    31.090909   114.0   19.000000
장년        female   7.953488    19.0   85.500000
          male    14.250000   171.0  114.000000

In [17]:
#다른방법
titanic['category1']=titanic.apply(lambda r : r.sex if r.age >20 else 'child', axis=1)

In [18]:
titanic.age.fillna(titanic.age.mean(),inplace=True)

In [ ]:
titanic

* 성별,선실별,출발지별 생존률

In [21]:
#성별 생존률
titanic.groupby('sex')[['survived']].mean()

        survived
sex
female  0.742038
male    0.188908

In [22]:
#선실별 생존률
titanic.groupby('class')[['survived']].mean()

        survived
class
First   0.629630
Second  0.472826
Third   0.242363

In [23]:
titanic.pivot_table('survived','class')

        survived
class
First   0.629630
Second  0.472826
Third   0.242363

In [24]:
#출발지별 생존률
titanic.pivot_table('survived','embarked')

          survived
embarked
C         0.553571
Q         0.389610
S         0.336957

* 미성년자,청년,중년,장년,노년

In [25]:
 bins=[1,20,30,50,70,100]
 labels=['미성년자','청년','중년','장년','노년']
 titanic['age_cat']=pd.cut(titanic.age,bins,labels=labels,include_lowest=True)
 titanic.tail(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_grade,category1,age_cat
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,중년,male,청년
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,중년,male,중년

In [26]:
titanic.age_cat.value_counts()

청년      407
중년      241
미성년자    172
장년       59
노년        5
Name: age_cat, dtype: int64

In [27]:
titanic.pivot_table('survived','age_cat')

         survived
age_cat
미성년자     0.436047
청년       0.334152
중년       0.423237
장년       0.355932
노년       0.200000

* qcut을 활용하여 3개의 나이 그룹

In [28]:
titanic['age_group']=pd.qcut(titanic.age,3,labels=['A1','A2','A3'])
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_grade,category1,age_cat,age_group
886,0,2,male,27.000000,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,중년,male,청년,A2
887,1,1,female,19.000000,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,청년,child,미성년자,A1
888,0,3,female,29.699118,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,NaN,child,청년,A2
889,1,1,male,26.000000,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,중년,male,청년,A2
890,0,3,male,32.000000,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,중년,male,중년,A3

In [29]:
titanic.age_group.value_counts()

A2    304
A1    301
A3    286
Name: age_group, dtype: int64

In [30]:
titanic.groupby('age_group')[['survived']].mean()

           survived
age_group
A1         0.411960
A2         0.335526
A3         0.405594